@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
html, body, h1, h2, h3, h4, h5, p, ul, li, ol, a, form {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px; }

body,
input,
button {
  font-family: 'Droid Sans', arial, sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  background-color: #F79239;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #db6b09; }
  #header .navicon {
    width: 51px;
    height: 44px;
    display: inline-block;
    background-image: url("../images/navicon.png");
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #header .navicon:hover {
      background-color: #f3770a; }
  #header .header-title {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    line-height: 45px;
    margin-left: .3em;
    font-size: 135%; }

#menu {
  position: absolute;
  background-color: #252525;
  height: 100%;
  height: calc(100% - 45px);
  width: 250px;
  max-width: 250px;
  border-right: 1px solid #222;
  transition: max-width 500ms ease;
  z-index: 10; }
  #menu ul li {
    background-color: #2f2f2f;
    border-bottom: 1px solid #555;
    padding: .75em;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #292929;
    overflow: hidden; }
    #menu ul li a {
      color: #e6e6e6; }
    #menu ul li:hover {
      background-color: #353535; }
  #menu.hidden {
    overflow: hidden;
    max-width: 0; }

#background-picture {
  background-size: cover;
  background-position: center center;
  height: 100%;
  height: calc(100% - 45px); }
  #background-picture .center-box {
    padding: 25px;
    max-width: 300px;
    margin: 0 auto; }
  #background-picture .login {
    padding-top: 220px;
    background: url("../images/logo-150x125.png") no-repeat center 50px; }
    #background-picture .login form .input-field {
      position: relative; }
      #background-picture .login form .input-field label {
        position: absolute;
        z-index: 2;
        width: 16px;
        height: 100%;
        left: 10px; }
        #background-picture .login form .input-field label[for="username"] {
          background: url("../images/email.png") no-repeat 0 center; }
        #background-picture .login form .input-field label[for="password"] {
          background: url("../images/password.png") no-repeat 0 center; }
      #background-picture .login form .input-field input {
        padding: 10px 20px 10px 38px;
        display: block;
        border: 1px solid #999;
        width: 100%;
        border-radius: 6px;
        box-shadow: inset 0 1px 2px silver; }
      #background-picture .login form .input-field input[type="text"] {
        border-radius: 5px 5px 0px 0px;
        border-bottom: 0; }
      #background-picture .login form .input-field input[type="password"] {
        border-radius: 0px 0px 5px 5px;
        border-top: 0;
        margin-bottom: 10px; }
    #background-picture .login form .remember-me {
      font-size: 80%; }
      #background-picture .login form .remember-me input {
        margin: 0 5px;
        vertical-align: middle;
        cursor: hand;
        cursor: pointer; }
    #background-picture .login form button {
      background-color: #005A9C;
      border-style: none;
      color: #e6e6e6;
      border-radius: 4px;
      text-transform: uppercase;
      margin: 35px 0 7px 0;
      cursor: hand;
      cursor: pointer;
      width: 100%;
      font-size: 110%;
      padding: 12px; }
      #background-picture .login form button:hover {
        background-color: #003d69;
        color: #fff; }
    #background-picture .login form .forgot {
      font-size: 80%;
      text-decoration: underline;
      text-align: center;
      display: block; }

#article-single header img {
  width: 100%;
  max-width: 640px;
  margin-bottom: .5em; }
#article-single header h1 {
  font-size: 150%;
  line-height: 140%;
  padding: .5em 20px; }
#article-single .content {
  padding: 0 20px; }
  #article-single .content p {
    padding-bottom: 20px;
    line-height: 160%; }

.share {
  padding: .5em 20px; }
  .share a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 4px; }
    .share a:last-child {
      margin-right: 0; }
  .share .facebook {
    background: #3a5795 url("../images/facebook.png") no-repeat center center; }
  .share .twitter {
    background: #55acee url("../images/twitter.png") no-repeat center center; }
  .share .google {
    background: #d73d32 url("../images/google.png") no-repeat center center; }
  .share .linkedin {
    background: #1e79b1 url("../images/linkedin.png") no-repeat center center; }

@media (min-width: 480px) and (min-height: 600px) {
  #background-picture {
    background-image: url("../images/backgrounds/wedstrijdfoto-2013.jpg"); }
    #background-picture .center-box {
      background-color: #fff;
      background-color: rgba(255, 255, 255, 0.7);
      width: 300px;
      min-height: 100px;
      position: absolute;
      z-index: 1;
      left: 50%;
      margin-left: -175px;
      top: 50%;
      margin-top: -200px; } }
