@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body{
    font-family: 'Droid Sans', arial, sans-serif;
}

#header{
    background-color: #F79239;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid darken(#F79239, 15%);
    .navicon{
        width: 51px;
        height: 44px;
        display: inline-block;
        background-image: url("../images/navicon.png");
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        &:hover{
            background-color: darken(#F79239, 10%);
        }
    }
    .header-title{
        display: inline-block;
        color: #fff;
        vertical-align: top;
        line-height: 45px;
        margin-left: .3em;
        //text-transform: uppercase;
        font-size: 135%;
    }
}

#menu{
    position: absolute;
    background-color: #252525;
    height: 100%;
    height: calc(100% - 45px);
    width: 250px;
    max-width: 250px;
    border-right: 1px solid #222;
    transition: max-width 500ms ease;
    ul{
        li{
            background-color: #2f2f2f;
            border-bottom: 1px solid #555;
            padding: .75em;
            border-top: 1px solid #3a3a3a;
            border-bottom: 1px solid #292929;
            overflow: hidden;
            a{
                color: #e6e6e6;
            }
            &:hover{
                background-color: #353535;
            }
        }
    }
    &.hidden{
        overflow: hidden;
        max-width: 0;
    }
}

