@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

//variables
$orange: #F79239;
$blue: #005A9C;

#header{
    background-color: $orange;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid darken($orange, 15%);
    .navicon{
        width: 51px;
        height: 44px;
        display: inline-block;
        background-image: url("../images/navicon.png");
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        &:hover{
            background-color: darken($orange, 10%);
        }
    }
    .header-title{
        display: inline-block;
        color: #fff;
        vertical-align: top;
        line-height: 45px;
        margin-left: .3em;
        //text-transform: uppercase;
        font-size: 135%;
    }
}

#menu{
    position: absolute;
    background-color: #252525;
    height: 100%;
    height: calc(100% - 45px);
    width: 250px;
    max-width: 250px;
    border-right: 1px solid #222;
    transition: max-width 500ms ease;
    z-index:10;
    ul{
        li{
            background-color: #2f2f2f;
            border-bottom: 1px solid #555;
            border-top: 1px solid #3a3a3a;
            border-bottom: 1px solid #292929;
            overflow: hidden;
            a{
                display:block;
                padding: .75em;
                color: #e6e6e6;
            }
            &:hover{
                background-color: #353535;
            }
        }
    }
    &.hidden{
        overflow: hidden;
        max-width: 0;
    }
}

#background-picture{
    background-size: cover;
    background-position: center center;
    height: 100%;
    height: calc(100% - 45px);
    .center-box{
        padding: 25px;
        max-width: 300px;
        margin: 0 auto;
    }
    .login{
        padding-top: 220px;
        background: url("../images/logo-150x125.png") no-repeat center 50px;
        form{
            .input-field{
                position: relative;
                label{
                    //padding-left: 8px;
                    //line-height: 38px;
                    position: absolute;
                    z-index: 2;
                    width: 16px;
                    height: 100%;
                    left: 10px;
                    &[for="username"]{
                        background: url("../images/email.png") no-repeat 0 center;
                    }
                    &[for="password"]{
                        background: url("../images/password.png") no-repeat 0 center;
                    }
                }
                input{
                    padding: 10px 20px 10px 38px;
                    display: block;
                    border: 1px solid #999;
                    width: 100%;
                    
                    border-radius: 6px;
                    box-shadow: inset 0 1px 2px silver;
                }
                input[type="text"]{
                    border-radius: 5px 5px 0px 0px;
                    border-bottom: 0;
                }
                input[type="password"]{
                    border-radius: 0px 0px 5px 5px;
                    border-top: 0;
                    margin-bottom: 10px;
                }
            }
            .remember-me{
                font-size: 80%;
                input{
                    margin: 0 5px;
                    vertical-align: middle;
                    cursor: hand;
                    cursor: pointer;
                }
            }
            button{
                background-color: $blue;
                border-style: none;
                color: #e6e6e6;
                //padding: 8px 14px 8px 14px;
                border-radius: 4px;
                text-transform: uppercase;
                margin: 35px 0 7px 0;
                cursor: hand;
                cursor: pointer;
                
                width: 100%;
                font-size: 110%;
                padding: 12px;
                &:hover{
                    background-color: darken($blue, 10%);
                    color: #fff;
                }
            }
            .forgot{
                font-size: 80%;
                text-decoration: underline;
                text-align: center;
                display: block;
            }
        }
    }
}

#article-single{
    //padding-top: 1em;
    header{
        img{
            width: 100%;
            max-width: 840px; //voor groter
            display: block;
            margin: 0 auto .5em auto;
        }
        h1{
            font-size: 150%;
            line-height: 140%;
            padding: .5em 20px;
            margin: 0 auto;
            display: block;
            max-width: 640px;
        }
    }
    .content{
        padding: 0 20px;
        margin: 0 auto;
        display: block;
        max-width: 640px;
        p{
            padding-bottom: 20px;
            line-height: 160%;
        }
    }
}

.share{
    padding: .5em 20px;
    margin: 0 auto;
    display: block;
    max-width: 640px;
    a{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 4px;
        &:last-child{
            margin-right: 0;
        }
    }
    .facebook{
        background: #3a5795 url("../images/facebook.png") no-repeat center center;
    }
    .twitter{
        background: #55acee url("../images/twitter.png") no-repeat center center;
    }
    .google{
        background: #d73d32 url("../images/google.png") no-repeat center center;
    }
    .linkedin{
        background: #1e79b1 url("../images/linkedin.png") no-repeat center center;
    }
}

#content{
    min-height: 100%;
    min-height: calc(100% - 45px - 41px);
}

#footer{
    width: 100%;
    height: 41px;
    background-color: #333;
}

@import "responsive";



